{% extends 'base.html' %}

{% block header %}
{% block title %}Сменить пароль{% endblock %}
{% endblock %}

{% block content %}
<form class="login_form" method="post">
    <ul class="form">
        <li class="next-section"><label for="password">Password</label></li>
        <li><input type="password" name="password" id="password" required></li>
        <li class="next-section"><label for="confirm">Confirm Password</label></li>
        <li><input type="password" name="confirm" id="confirm" required></li>
        <li><input type="submit" value="Сменить"></li>
    </ul>
</form>
{% endblock %}